<!DOCTYPE html>
<html>
    <head>
        <title>Record of Youth</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/style_youth.css">
    </head>
    <body>
        <h2><strong>Record of Youth</strong></h2>
        <h3>What's My Most Memorable Trip?</h3>
        <div style="background-color: rgb(252, 247, 182);float: right;font-size: xx-large;"><a href="index.html">Back To Home</a></div>
        <ul>
            <li class="esp" style="font-size: 20pt";>Family trip to Spain in Dec 2019<br>
                <video poster="media/thumb.GIF" width="1280" height="720" src="media/spain_Trim.mp4" controls preload="auto">
                    비디오를 재생할 수 없습니다.
                </video><br>
                고등학교 시절 학업으로 인해 못갔던 해외 여행을 수험 생활이 끝나고<br>
                몇년 만에 가게된 가족 여행! 코로나 바이러스 발발 전에 참 시기적절하게<br> 
                잘 다녀온 여행... 다시 가고 싶은 스페인ㅠㅠ<br>
                코로나 종식되면 부모님 모시고 해외 여행 또 다녀오고 싶다ㅎㅎ

            </li>
        </ul><br>
        <form method="POST" action="form_app.js">
            <fieldset>
            <legend>파일 업로드</legend>
            <input type="file" name="myfile"/></fieldset>
        </form>
        
        <footer>Copyright 2021. KimEunSeo all rights reserved.</footer>
    </body>
</html>